/* WEBSITE DEFAULTS */

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

/* CURSOR */

.html-select,
.css-select,
.js-select,
.solo,
.versus,
#start,
#continue,
#guess {
  cursor: pointer;
}

/* FONTS */

h2,
h3,
h4 {
  cursor: default;
  font-size: 3em;
}

h1 {
  font-family: "Quantico", Verdana;
  font-size: 3em;
  text-align: center;
  width: 50%;
  padding: 10px 80px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  border: 8px solid black;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.2);
}

h2,
h3, h4 {
  font-family: "Quantico", Verdana;
  font-weight: normal;
}

.finish h3 {
  text-align: center;
}

.finish-correct-incorrect h4 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: "Quantico", Verdana;
}

p {
  font-family: "Glegoo", Verdana;
  font-size: 1.7em;
  text-align: center;
}

.button-text {
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 10px;
}

/* SECTIONS */

section {
  width: 80%;
  margin: 50px auto;
}

.instructions {
  margin: 40px auto;
}

.instructions div h2 {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.instructions div p {
  line-height: 2em;
}

/* TITLE BARS */

header {
  margin-top: 20px;
}

.select-questions,
.select-players {
  padding: 20px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.select-questions,
#block-breakdown {
  background-color: #0070ba;
}

.select-players {
  background-color: #63a814;
}

/* COLOR BLOCKS */

.color-block {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border: 8px solid black;
  border-radius: 10px;
}

#solo {
  opacity: 1;
}

#versus {
  opacity: 0.5;
}

/* GAME, PAGE SECTION */

/* BUTTONS */

.html-select,
.css-select,
.js-select {
  width: 32%;
}

.solo-select,
.versus-select {
  width: 49%;
}

.html-select,
.css-select,
.js-select,
.solo-select,
.versus-select {
  display: inline-block;
}

.html-select .color-block,
.css-select .color-block,
.js-select .color-block,
.solo-select .color-block,
.versus-select .color-block {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
  border: 0;
}

/* IMAGES ON BUTTONS */

.solo {
  background-image: url("../images/solo.png");
  background-size: cover;
}

.versus {
  background-image: url("../images/versus.png");
  background-size: cover;
}

.html-select .color-block {
  background-image: url("../images/html-full.png");
  background-size: cover;
}

.css-select .color-block {
  background-image: url("../images/css-full.png");
  background-size: cover;
}

.js-select .color-block {
  background-image: url("../images/javascript-full.png");
  background-size: cover;
}

/* HOVER EFFECTS ON BUTTONS */

.html-select .color-block:hover,
.css-select .color-block:hover,
.js-select .color-block:hover,
.solo-select .color-block:hover,
.versus-select .color-block:hover {
  transform: scale(1.1);
  transform-origin: bottom;
}

/* MAIN HTML */

#game {
  display: none;
}

/*BLOCKS THAT YOU FILL IN BY ANSWERING QUESTIONS */

.player-block {
  visibility: none;
  position: relative;
  z-index: -1;
}

/* IDs SECTION */

/* START BUTTON ON INDEX.HTML */

#start {
  width: 400px;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}

/* INPUT FOR ANSWERING QUESTIONS */

#input-answer {
  width: 80%;
  padding: 15px 30px;
  display: block;
  margin: 30px auto;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 2em;
  font-family: "Glegoo", Verdana;
  font-weight: bold;
}

/* QUESTION ON ANSWERING PAGE */

#question,
#description {
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.7em;
}

#description {
  margin-bottom: 30px;
}

/* GUESS ON ANSWERING PAGE, CONTINUE BUTTON ON CORRECT/INCORRECT PAGE */

#guess,
#continue {
  margin: 0 auto;
  text-align: center;
  color: white;
}

/*SHARED ATTRIBUTES BETWEEN GUESS AND CONTINUE BUTTONS */

#guess,
#continue {
  display: block;
  font-family: "Quantico", Verdana;
  font-size: 3em;
  font-weight: bold;
  box-shadow: 0px 2.5px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
}

/* DISPLAYS THE TURN: PLAYER 1, PLAYER 2, OR "PRACTICE" FOR SOLO PLAY */

#turn {
  width: 375px;
  margin: 0 auto 20px;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.2);
}

/* SHARED ATTRIBUTES FOR START, TURN, AND REPLAY */

#start,
#turn,
#replay {
  padding: 10px 80px;
  display: block;
  margin: 0 auto 20px auto;
  font-family: "Quantico", Verdana;
  font-size: 2.7em;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  border: 8px solid black;
}

/* REPLAY BUTTON AT END OF GAME */

#replay {
  text-align: center;
  width: 400px;
  color: black;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.2);
}

/* PROVIDES MARGIN FOR PARAGRAPH EXPLAINING THAT THESE ARE THE RESULTS OF THE GAME */

#paraResults {
  margin: 20px 20px 0;
}

/* ANSWER AND QUESTION SECTIONS */

#display-answer,
#display-question {
  margin: 50px 0;
}

/* TITLES ON RESULTS, "BLOCK BREAKDOWN", PAGE FOR PLAYER 1 / PLAYER 2 */

#player-1-finish {
  background-color: #63a814;
}

#player-2-finish {
  background-color: #e55126;
  clear: both;
}

#player-1-finish,
#player-2-finish {
  color: white;
}

/* BOARDS FOR BOTH PLAYER1 AND PLAYER 2 */

#player1,
#player2 {
  width: 600px;
  text-align: center;
  margin: 30px auto;
}

/* ENTIRE PLAYER 2 BOARD, TURNS ON WHEN IT'S HIS/HER TURN */

#player2 {
  display: none;
}

/* WINNER, SUDDEN DEATH BANNER */

#banner {
  position: absolute;
  color: white;
  background-color: #0070ba;
  width: 100%;
  top: 0%;
  z-index: 1;
  font-size: 4.2em;
  display: none;
  text-align: center;
}

/* HEADERS FOR QUESTION, ANSWER, AND RESULTS PAGE */

#answer-type,
#question-type,
#block-breakdown {
  color: white;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0px 2.5px 1px rgba(0, 0, 0, 0.5);
}

/* EFFECTS */

/* HOVERING CAUSES BIGGER SCALE ON THESE BUTTONS */

#start:hover,
#continue:hover,
#replay:hover,
#guess:hover {
  transform: scale(1.1);
}

/* SECTIONS */

/* ALMOST THE ENTIRE QUESTION, ANSWER, AND FINISH PAGE. TURNED OFF AND TURNED ON LATER */

.question,
.answer,
.finish {
  width: 100%;
  margin: 20px auto;
  display: none;
  z-index: 0;
  position: relative;
}

/* THE DIVS, WITHING THE QUESTION/ANSWER/FINISH SECTIONS, HOLDING THE CONTENT */

.question-answer {
  margin: 30px 0;
  overflow: auto;
}

/* THE DIVS HOLDING EACH BLOCK THAT THE PLAYERS FILL IN */

.main-block {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

/* RESULTS, "BLOCK BREAKDOWN" SECTION */

/* SECTIONS FOR THE CORRECT AND INCORRECT AREAS FOR BOTH PLAYER 1 AND PLAYER 2 */

.finish-correct-incorrect {
  width: 48%;
  float: left;
  margin: 20px 0;
}

/* PADS THE PARAGRAPHS FROM THE EDGE OF THE DIVS */

.finish-correct-incorrect p {
  padding: 10px 0;
}

/* LINKS AT THE END FOR CORRECT AND INCORRECT ANSWERS
	 AND AT THE END OF ANSWER DESCRIPTIONS*/

.helpfulLink,
.question-answer a {
  text-decoration: underline;
}

/* @MEDIA FOR MOBILE PHONES */

@media (min-width: 300px) and (max-width: 449px) {
  .color-block {
    width: 85px;
    height: 85px;
    border: 5px solid black;
  }

  #player1,
  #player2 {
    width: 98%;
    margin: 40px auto;
  }

  .html-select,
  .css-select,
  .js-select,
  .solo-select,
  .versus-select {
    width: 98%;
  }

  h1 {
    padding: 0px 20px;
    font-size: 2em;
    width: 80%;
    border: 5px solid black;
  }

  .main-block {
    width: 31%;
  }

  .color-block {
    width: 85px;
    height: 85px;
    border: 5px solid black;
  }

  #display-answer,
  #display-question {
    margin: 20px 0;
  }

  #input-answer {
    width: 80%;
    margin: 10px auto 0;
    padding: 5px;
    font-size: 1em;
    border: 3px solid black;
  }

  #question-type,
  #answer-type,
  #continue,
  #guess,
  #block-breakdown,
  #player-1-finish,
  #player-2-finish {
    font-size: 2em;
  }

  .question-answer {
    margin: 15px 0;
  }

  #description {
    margin-bottom: 15px;
  }

  .question-answer p,
  #description,
  #question,
  #paraResults {
    font-size: 1em;
    padding: 0 10px;
  }

  #banner {
    font-size: 2em;
  }

  #turn,
  #replay {
    width: 80%;
    font-size: 1.5em;
    padding: 0 5px;
    border: 5px solid black;
  }

  .finish-correct-incorrect {
    width: 99%;
    float: left;
    margin: 5px 0;
  }

  .finish-correct-incorrect {
    font-size: 0.8em;
  }

  .finish-correct-incorrect a {
    font-size: 1.3em;
  }
}

/* @MEDIA FOR TABLETS */

@media (min-width: 450px) and (max-width: 800px) {
  header {
    margin-top: 10px;
  }

  #player1,
  #player2 {
    margin: 5px auto;
  }

  .html-select,
  .css-select {
    width: 48%;
  }

  .js-select {
    width: 98%;
  }

  #question-type,
  #answer-type,
  #continue,
  #guess,
  #block-breakdown,
  #player-1-finish,
  #player-2-finish {
    font-size: 2.2em;
  }

  .question-answer {
    margin: 10px 0;
  }

  #description {
    margin-bottom: 15px;
  }

  #turn,
  #replay {
    width: 60%;
    font-size: 1.9em;
    padding: 0 5px;
    border: 8px solid black;
  }

  #input-answer {
    width: 80%;
    margin: 10px auto;
    font-size: 1.5em;
    border: 5px solid black;
  }

  .color-block {
    width: 120px;
    height: 120px;
    border: 8px solid black;
  }
}
