h1, h2, h3 {
  font-size: 2rem;
  font-family: "Quantico", Verdana;
}

h2,
h3 {
  cursor: default;
  font-weight: normal;
}

h1 {
  text-align: center;
  width: 50%;
  padding: 10px 80px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  border: 5px solid black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.finish {
  h3 {
    text-align: center;
  }

  &-correct-incorrect h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quantico", Verdana;
  }
}

p, label {
  font-family: "Glegoo", Verdana;
  font-size: 1.25rem;
  text-align: center;
}

.label-input-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}