* {
  box-sizing: border-box;
}

.instructions {
  width: 80%;
  margin: 32px auto;

  div h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

  div p {
    line-height: 2rem;
    text-align: left;
  }
}

.html-select,
.css-select,
.js-select,
.solo,
.versus,
#start,
#continue,
#guess {
  cursor: pointer;
}

#html,
#css,
#js {
  opacity: .5;
}

.select-questions,
.select-players {
  padding: 20px;
  color: white;
  margin-bottom: 32px;
  text-align: center;
}

.select-questions,
#block-breakdown {
  background-color: #0070ba;
}

.select-players {
  background-color: #63a814;
}

input[type="radio"],
input[type="checkbox"] {
  width: 100%;
  height: 100%;
  opacity: 0;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
button {
  cursor: pointer;
}

.color-block {
  width: 125px;
  height: 125px;
  margin: 0 auto 10px;
  border: 5px solid black;
  border-radius: 10px;
}

#solo {
  opacity: 1;
}

#versus {
  opacity: 0.5;
}

#game {
  display: none;
}

.player-block {
  border: 5px solid black;
  position: relative;
  z-index: -1;
}

#start {
  width: 400px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

#input-answer {
  width: 80%;
  padding: 15px 30px;
  display: block;
  margin: 30px auto 0;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: "Glegoo", Verdana;
  font-weight: bold;
}

#question,
#description {
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
}

#description {
  margin-bottom: 30px;
}

#guess,
#continue {
  width: 375px;
  border-radius: 10px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  display: block;
  font-family: "Quantico", Verdana;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 5px 20px;
}


#turn {
  width: 375px;
  margin: 0 auto 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
}

#turn:hover {
  cursor: default;
}

#start, #replay {
  font-size: 2rem;
}

#start,
#turn,
#replay {
  padding: 10px 80px;
  display: block;
  margin: 0 auto 20px auto;
  font-family: "Quantico", Verdana;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  border: 5px solid black;
}

#replay {
  text-align: center;
  width: 75%;
  color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

#para-results {
  margin: 20px 20px 0;
}

#display-answer,
#display-question {
  margin: 16px 0;
}

#player {
  &1, &2 {
    width: 600px;
    text-align: center;
    margin: 16px auto;
  }

  &2 {
    display: none;
  }

  &-1-finish, &-2-finish {
    color: white;
  }

  &-1-finish {
    background-color: #63a814;
  }

  &-2-finish {
    background-color: #e55126;
    clear: both;
  }
}

#banner {
  position: absolute;
  color: white;
  background-color: #0070ba;
  width: 100%;
  top: 0%;
  z-index: 1;
  font-size: 4.2rem;
  display: none;
  text-align: center;
}

#answer-type,
#question-type,
#block-breakdown {
  color: white;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0px 2.5px 1px rgba(0, 0, 0, 0.5);
}

#start,
#continue,
#replay,
#guess {
  &:hover {
    transform: scale(1.1);
  }
}

.question,
.answer,
.finish {
  width: 100%;
  margin: 20px auto;
  display: none;
  z-index: 0;
  position: relative;
}

.question-answer {
  margin: 30px 0;
  overflow: auto;
}

.main-block {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

.finish-correct-incorrect {
  width: 48%;
  float: left;
  margin: 20px 0;

  p {
    padding: 10px 0;
  }
}

.helpful-link,
.question-answer a {
  text-decoration: underline;
}
